@page "/"
@inject Data.I18nTextService i18n

<h1>@i18n.Text?.Hello @i18n.Text?.World</h1>

Welcome to your new app.

<SurveyPrompt Title="How is Blazor working for you?" />

@code {        

    protected override void OnAfterRender(bool firstRender)
    {
        if (firstRender)
        {
            i18n.TextChanged += TextChanged;
        }
    }

    private void TextChanged(object sender, EventArgs args)
    {
        this.StateHasChanged();
    }
}
